<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IESBackupServerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53095/ESBackupServerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBackupServerService"
                contract="ESBackupServerService.IESBackupServerService" name="BasicHttpBinding_IESBackupServerService" />
        </client>
    </system.serviceModel>
</configuration>