<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BasicHttpBinding_IESBackupServerAdminService"
         maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                    maxBytesPerRead="656000" maxNameTableCharCount="656000" />
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None"
                      realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53095/ESBackupServerAdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IESBackupServerAdminService"
                contract="ESBackupServerAdminService.IESBackupServerAdminService"
                name="BasicHttpBinding_IESBackupServerAdminService" />
        </client>
    </system.serviceModel>
</configuration>